[Desktop Entry]
Type=Application
Exec=setxkbmap -option terminate:ctrl_alt_bksp
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[sv]=setxkbmap -option terminate:ctrl_alt_bksp
Name=setxkbmap -option terminate:ctrl_alt_bksp
Comment[sv]=setxkbmap -option terminate:ctrl_alt_bksp
Comment=setxkbmap -option terminate:ctrl_alt_bksp
